doctype html
html
	head
		title Home - Message in a Bottle
		link(type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection")
		link(type="text/css" rel="stylesheet" href="static/css/style.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body









		script(type="text/javascript" src="static/js/jquery.min.js")
		script(type="text/javascript" src="static/js/materialize.min.js")
		script(type="text/javascript" src="static/js/custom.js")