/*--Misc--*/

body {
	width: 100%;
	height: 100%;
	background-color: #212121;
	font-weight: 200;
}

.contact {
	font-weight: bold;
}

/*--Cards Misc---*/
.card-title .material-icons {
	float: right;
}

.card {
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: transparent;
	color: white;
	border-radius: 2px;
}

.card-content {
	max-width: 285px;
}

form .card-content {
	max-width: 100%;
}

.card-reveal {
	color: black;
}

.card-image{
	max-height: 350px;
	border-radius: 2px;
}


/*--Header--*/

.header {
	background-image: url('images/bgheader.jpg');
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 757px;
}

.headercontent {
	font-family: "Brush Script MT", cursive;
	color: #b71c1c;
	text-shadow: 2px 2px black;
}

.spreadthelove {
	font-size: 125px;
}

.sf {
	font-size: 90px;
}

/*--Log-In--*/

#login {
	max-width: 475px;
	min-width: 400px;
}

#login .extended-nav {
 border-bottom: 10px solid #424242;
}

#login nav .nav-wrapper .col {
	height: 64px;
}

#login form {
	margin-top: 25px;
}

#login button{
	font-size: 25px;
}

#login input {
	font-size: 20px;
}

.tabs strong {
	margin-left: 48px;
	padding-top: -60px;
}


/*--Become-a-Member--*/

#register {
	text-shadow: none;
	font-size: 30px;
	min-width: 400px;
}

#register .modal-content {
	padding-top: 0px;
}

.breadcrumb {
	color: white;
}

.breadcrumb::before {
	margin-top: 4px;
}

.breadcrumb:nth-child(1){
	font-weight: bold;
}
.reg {
	color: black;
	font-size: 25px;
	margin-bottom: 20px;
}

/*-Who-are-you-*/

#whoareyou {
	margin-top: 25px;
	max-width: 140px;
}

#iaman {
	max-width: 140px;
}

#iaman p {
	margin: 5px 0px 15px 10px;
}

/*-Basic-Info-*/

#basicinfo1 {
	display: none;
}

#basicinfo2 {
	display: none;
}

.category {
	margin-top: 7px;
}

#basicinfo1 .row:nth-child(3), #basicinfo2 .row:nth-child(3) {
	margin-bottom: 0px;
}

/*-Finish-*/


#finish {
	display: none;
}

#finish .row {
	margin-bottom: 0px;
}

.congrats {
	margin-top: 25px;
}

.overview {
	max-width: 466px;
	margin-bottom: 10px;
}

.overview span {
	display: none;
	float: left;
	clear: right;
	font-weight: 400;
}

.overview i {
	color: green;

}


/*--NavBar--*/

.nav-extended {
	text-shadow: 1px 1px black;
	height: 36px;
}


/*--Social-Media-Icons--*/
#socialwrap {
	position: absolute;
}
.socialmedia {
	position:relative;
	top:80px;
	width: 70px;
	overflow: hidden;
}
.socialmedia a{
	float: left;
	clear: left;
	color: #b71c1c;
	position: relative;
}

.socialmedia a:hover{
	color: white;
}

/*--Scrollspy--*/

#home #scrollspy {
	position: relative;
	top: 125px;
	right: 2px;
	font-size: 25px;
	text-shadow: 2px 0px black;
	width: 185px;
}

/*------Profile-----*/

.profile {
	z-index: 10;
	position: fixed;
	top: 0px;
}
.side-nav {
	width: 360px;
}
.side-nav p {
	margin-bottom: 0px;
}

.side-nav .userView {
	margin-bottom: 0px;
}

.side-nav .divider {
	margin: 0px;
}

#slide-out {
	text-shadow: none;
}

#slide-out .card {
	color: black;
	background-color: white;
}


#changeprofilepic a {
	color: black;
}

.thefilefield {
	height: 48px;
}

.file-field:hover {
	text-shadow: 1px 1px 1px green;
}

#changeprofilepic p {
	margin: 0px;
}

#changeprofilepic img {
	margin: auto;
}








/*.tap-target {
	text-shadow: none;
	font-size: 20px;
	font-weight: 200;
	background-color: transparent;
	width: 72%;
	height: 22%;
	border-radius: 0%;
}

.tap-target .container {
	margin-left: 210px;
	opacity: .85;
	background-color: #77a278;
	width: 63%;
	border-radius: 10px;
}

.tap-target-wrapper {
	height: 160px;
	margin-bottom: -160px;
	opacity: .9;
}

.tap-target .container li {
	margin-top: -20px;
	margin-bottom: 25px;
}

.tap-target strong {
	font-size: 35px;
	text-shadow: 1px 1px black;
}

.tap-target-wave {
	display: none;
}

i.fa.fa-angle-double-left {
	margin-top: -31px;
	margin-right: 33%;
	color: white;
}*/

/*-------HOME-------*/

.slider {
	margin-top: 25px;
}

#about {
	margin-top: 50px;
	font-size: 30px;
	font-weight: 200;
	color: white;
	text-shadow: 1px 1px red;
}

strong {
	font-family: "Brush Script MT", cursive;
	color: #b71c1c;
	text-shadow: 2px 2px black;
	font-size: 50px;
}


/*--Slider--*/

.takealook{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 200;
	color: white;
	text-shadow: 1px 1px red;
}

#recent h4 {
	text-shadow: .5px .5px #b71c1c;
}

#recent span {
	color: white;
	text-shadow: 1px 1px red;
	font-size: 25px;
}

.recentslides .card {
	opacity: .7;

}

.card:focus {
	outline-color: green;
}

#youcanmakeadifference {
	font-size: 30px;
	font-weight: 200;
	color: white;
	text-shadow: 1px 1px red;
	margin-top: 35px;
}

#youcanmakeadifference .center {
	font-size: 50px;
	margin-bottom: 25px;
}

#youcanmakeadifference a {
	color: red;
	text-shadow: 1px 1px black;
}

#youcanmakeadifference a:hover {
	text-shadow: 1px 1px grey;
}


/*----Odd-Jobs--*/

.oddjobs {
	margin-top: 25px;
}

#postoddjob {
	background-color: transparent;
}

#postoddjob img {
	opacity: .6;
}

#postoddjob img:hover {
	opacity: .85;
}

.changepic {
	margin-top: -48px;
	margin-right: 24px;
}

#postoddjob .card-content {
	padding-top: 0px;
	padding-bottom: 0px;
}

#postoddjob input {
	margin-bottom: 7px;
	color: white;
}

#postoddjob .card-action {
	border: none;
}

#postoddjob button {
	width: 100%;
	height: 100%;
	font-size: 20px;
}

.card-title.ojtitle {
	height: 32px;
	text-shadow: 1px 1px darkgrey;
	font-size: 27px;
}

.ojdescription {
	height: 32px;
	font-size: 25px;
}

.author {
	font-size: 20px;
	margin-bottom: 12px;
	margin-top: 12px;
}


/*---Collectives---*/

.collectives {
	margin-top: 25px;
}

#postcollectivejob {
	background-color: transparent;
}

#postcollectivejob img {
	opacity: .6;
}

#postcollectivejob img:hover {
	opacity: .85;
}

#postcollectivejob .card-content {
	padding-top: 0px;
	padding-bottom: 0px;
}

#postcollectivejob input {
	margin-bottom: 7px;
	color: white;
}

#postcollectivejob .card-action {
	border: none;
}

#postcollectivejob button {
	width: 100%;
	height: 100%;
	font-size: 20px;
}

.card-title.cjtitle {
	height: 32px;
	text-shadow: 1px 1px darkgrey;
	font-size: 27px;
}

.cjdescription {
	height: 32px;
	font-size: 25px;
}


/*---Non-Profits---*/

.nonprofits {
	margin-top: 25px;
}

#postnonprofitjob {
	background-color: transparent;
}

#postnonprofitjob img {
	opacity: .6;
}

#postnonprofitjob img:hover {
	opacity: .85;
}

#postnonprofitjob .card-content {
	padding-top: 0px;
	padding-bottom: 0px;
}

#postnonprofitjob input {
	margin-bottom: 7px;
	color: white;
}

#postnonprofitjob .card-action {
	border: none;
}

#postnonprofitjob button {
	width: 100%;
	height: 100%;
	font-size: 20px;
}

.card-title.npjtitle {
	height: 32px;
	text-shadow: 1px 1px darkgrey;
	font-size: 27px;
}

.npjdescription {
	height: 32px;
	font-size: 25px;
}


/*---Initiatives---*/

.initiatives {
	margin-top: 25px;
}

#postinitiative{
	background-color: transparent;
}

#postinitiative img {
	opacity: .6;
}

#postinitiative img:hover {
	opacity: .85;
}

#postinitiative .card-content {
	padding-top: 0px;
	padding-bottom: 0px;
}

#postinitiative input {
	margin-bottom: 7px;
	color: white;
}

#postinitiative .card-action {
	border: none;
}

#postinitiative button {
	width: 100%;
	height: 100%;
	font-size: 20px;
}

.card-title.inittitle {
	height: 32px;
	text-shadow: 1px 1px darkgrey;
	font-size: 27px;
}

.initdescription {
	height: 32px;
	font-size: 25px;
}

/*--Footer--*/

.page-footer {
	background-color: #b71c1c;
	margin-top: 50px;
}

.footer-copyright {
	background-color: #c62828 ;
}






